#hello-plan {
  height: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.marker--blue,
.marker--red {
  border-radius: 50%;
  background-image: url(https://picsum.photos/id/101/30);
  background-size: 30px;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.2s;
}
.marker--blue:hover,
.marker--red:hover {
  cursor: pointer;
  opacity: 0.8;
}
.marker--red {
  background-image: url(https://picsum.photos/id/1011/30);
}
.fpe-info-window  {
  background: red;
}
